<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc">

    <!-- Add support for component scaning-->
    <context:component-scan base-package="com.lov2code.springdemo"/>

    <!-- Add support for conversion,formatting and validation support-->
    <mvc:annotation-driven/>

    <!-- Define Spring MVC view resolver-->
    <!-- when your app provides a 'view' name, Spring MVC will prepend the prefix and append the suffix-->
    <!-- ex:/WEB-INF/view/show-student-list.jsp-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name = "prefix" value="/WEB-INF/view/"/>
        <property name = "suffix" value = ".jsp"/>
    </bean>
</beans>