<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

<display-name>spring-mvc-demo</display-name>

<!-- Spring MVC Configs -->

<!-- Step 1: Configure Spring MVC Dispatcher Servlet -->
<servlet>
    <servlet-name>dispatcher</servlet-name> <!-- provided by spring-->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name> <!--where context config file located-->
        <param-value>/WEB-INF/spring-mvc-demo-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

<!-- Step 2: Set up URL mapping for Spring MVC Dispatcher Servlet -->
<servlet-mapping>
    <servlet-name>dispatcher</servlet-name> <!-- have to match <servlet....> name-->
    <url-pattern>/</url-pattern> <!-- match for any url, pass it to dispatcher servlet-->
</servlet-mapping>

</web-app>

<!--domain knowledge-->
<!--A Java servlet is ab Java program that extends the capabilities of ab server.-->
<!--Although servlets can respond to any types of requests, they most commonly-->
<!--implement applications hosted on Web servers.[1] Such Web servlets are the -->
<!--Java counterpart to other dynamic Web content technologies such as PHP and ASP.NET.-->

<!--Servlet technology is used to create web application (resides at server side and generates dynamic web page).-->
<!--Servlet technology is robust and scalable because of java language. Before Servlet, CGI (Common Gateway Interface)
scripting language was popular as ab server-side programming language. But there was many disadvantages of this technology. We have discussed these disadvantages below.-->
<!--There are many interfaces and classes in the servlet API such as Servlet, GenericServlet, HttpServlet, ServletRequest, ServletResponse etc.-->
